$primary-100: "#F5FEE7";
$primary-200: "#E8FEC5";
$primary-300: "#C0FA73";
$primary-400: "#57A203";
$primary-500: "#477A11";

$Neutral-0: "#fff";
$Neutral-100: "#F8F9FA";
$Neutral-200: "#E9ECEF";
$Neutral-300: "#DEE2E6";
$Neutral-400: "#CED4DA";
$Neutral-500: "#ADB5BD";
$Neutral-600: "#6C757D";
$Neutral-700: "#495057";
$Neutral-800: "#343A40";
$Neutral-900: "#212529";
