$breakpoints: (
  xs: 480px,
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1440px,
);

@mixin rwd($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);

  @if $size {
    @media (max-width: $size) {
      @content;
    }
  }
}
