<footer class="footer container">
  <div class="footer-top">
    <span class="brand">URBNSTEP</span>
    <ul>
      <li><a href="#">商品列表</a></li>
      <li><a href="#">品牌故事</a></li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>Copyright ©2025 URBNSTYLE</p>
    <p>All Rights Reserved.</p>
  </div>
</footer>
