<header class="header">
  <div class="header-container">
    <nav class="main-nav">
      <!-- <a href="#" class="logo">URBNSTEP</a> -->
      <h1>
        <a href="index.html"
          ><img src="../assets/images/Logo.png" alt="Logo"
        /></a>
      </h1>

      <ul>
        <li><a href="products.html">商品列表</a></li>
        <li><a href="story.html">品牌故事</a></li>
      </ul>
    </nav>
    <a href="wishList.html">
      <span class="user-btn">
        <i class="fa-regular fa-user"></i>
      </span>
    </a>
  </div>
</header>
