.footer {
  font-size: 14px;
  color: #212529;
}

.footer span {
  font-weight: bold;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 24px;
}

.footer-top ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

.footer-top ul li a {
  text-decoration: none;
  color: #212529;
}

.footer-bottom {
  text-align: center;
  color: #6c757d;
  margin-bottom: 64px;
}

.footer-bottom p {
  line-height: 1.5;
}
