.footer {
  font-size: 14px;
  color: #212529;
  .brand {
    font-weight: bold;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 24px;

    ul {
      list-style: none;
      display: flex;
      gap: 16px;
    }

    ul {
      li {
        a {
          text-decoration: none;
          color: #212529;
        }
      }
    }
  }

  .footer-bottom {
    text-align: center;
    color: #6c757d;
    margin-bottom: 64px;
    p {
      line-height: 1.5;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    .footer-top {
      display: block;

      margin-bottom: 0px;
      ul {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
      }
    }
    .footer-bottom {
      text-align: center;
      margin-top: 24px;
      padding-top: 32px;
      border-top: 1px solid #dee2e6;
    }
  }
}
