.brand .divider {
  margin-top: 48px;
  margin-bottom: 48px;
}

.brand__intro {
  gap: 1.5rem;
}

.brand__intro .brand__image {
  width: 100%;
}

.main_header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 60%;
  min-height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/hero-sm.png?raw=true");

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    font-size: 28px;
    color: #fff;
  }
  h3 {
    font-size: 20px;
    color: #fff;
  }
}

.brand__intro .brand__description {
  flex: 1;
}

.brand__intro .brand__description h2 {
  margin-bottom: 24px;
  margin-top: 24px;
  color: #212529;
  font-size: 24px;
}

.brand__intro .brand__description p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

.brand__intro .brand__description strong {
  color: #4c9b1f;
  font-weight: bold;
}

.brand__section {
  margin-top: 2rem;
  border-radius: 4px;

  h3 {
    color: #212529;
    font-size: 24px;
    margin-bottom: 24px;
  }

  ol {
    padding-left: 20px;

    li {
      list-style-type: disc;
    }
  }
  ul {
    li {
      margin-bottom: 0.75rem;
      line-height: 1.5;
      list-style: none;
    }
  }

  ul li a {
    color: #4c9b1f;
    text-underline-offset: 8px;
  }
}

.brand_list li {
  margin-bottom: 0.75rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  border-left: 3px solid rgba(222, 226, 230, 1);
  padding-left: 8px;
}

.brand__section ul li a:hover {
  text-decoration: underline;
}

.brand-box {
  background-color: #f5fee7;
  padding: 32px;
  text-align: center;
  margin: 64px 0 48px 0;
  h4 {
    color: #57a203;
    font-size: 20px;
  }
  div {
    margin-top: 12px;
  }
  p {
    line-height: 1.5;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }

  .main_header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 60%;
    min-height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/hero-sm.png?raw=true");

    h1 {
      font-size: 28px;
    }
    h3 {
      font-size: 20px;
    }
  }

  .brand__intro {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .brand__image {
    width: 100%;
    height: auto;
  }

  .brand__description {
    h2 {
      font-size: 20px;
    }
  }

  .brand__section h3 {
    font-size: 20px;
  }

  .brand_list li {
    font-size: 16px;
  }

  .brand-box {
    margin: 48px 0;
    text-align: left;
  }

  .brand-box h4 {
    font-size: 18px;
  }

  .main_footer p {
    margin-top: 48px;
    font-size: 14px;
  }

  .main_footer span {
    margin-bottom: 48px;
    font-size: 14px;
  }

  /* 設定列表內 SVG 與文字間距 */
  .brand__section ul li a svg {
    margin-right: 6px;
  }

  .brand__section ul li {
    display: flex;
    align-items: center;
  }

  .brand__section ul li a {
    display: flex;
    align-items: center;
  }
}
