.main_container {
  max-width: 636px;
  margin: 0 auto;
  .title {
    font-size: 28px;
    font-weight: 700;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 64px;
    @include rwd(sm) {
      font-size: 24px;
      gap: 8px;
      margin-top: 24px;
    }
  }

  .description {
    display: flex;
    gap: 16px;
    padding: 16px;
    background-color: #f5fee7;
    margin-top: 32px;
    @include rwd(sm) {
      margin-top: 24px;
    }
    .text {
      color: #57a203;
    }
  }
}

.favorite-list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 16px;

    img {
      width: 96px;
      height: auto;
      object-fit: contain;
    }

    .info {
      flex: 1;
      margin-left: 16px;

      .name {
        font-weight: bold;
        margin-bottom: 4px;
      }

      .meta {
        font-size: 14px;
        color: #666;
        line-height: 1.6;
      }
    }

    .price {
      font-weight: bold;
      white-space: nowrap;
      text-align: right;
      @include rwd(sm) {
        text-align: left;
      }
    }
  }
}

@media (max-width: 768px) {
  .favorite-list .item {
    flex-direction: column;
    align-items: flex-start;

    .price {
      margin-top: 8px;
    }
  }

  .description {
    display: flex;
    gap: 16px;
    padding: 16px;
    align-items: center;
    .text {
      color: #57a203;
      line-height: 1.5;
      display: flex;
      flex-direction: column;
    }
  }

  .favorite-list {
    .item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ccc;
      padding-bottom: 16px;

      .price {
        font-weight: bold;
        white-space: nowrap;
      }
    }
  }
}
