<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首頁 | 鞋子電商</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section class="top_banner">
      <h2>URBNSTEP</h2>
      <p>Your Step, Your Statement</p>
      <button>立即選購</button>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
